.main {
  border: 1px solid white;
  max-width: 100vw;
  max-height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.debug {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.1rem 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-family: monospace;
}

#ui-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
}
